<div class="Items-Box">
    <div class="row Border mb-5">
        <div class="col-12 Top-Bar">
            <div class="row py-3">
                <div class="col-8 Align-Options">
                    <div class="Choose-Options">
                        <button><i class="bi bi-geo-alt-fill"></i>&nbsp;Location</button>
                        <button><i class="bi bi-bookmarks-fill"></i>&nbsp;Category</button>
                        <button><i class="bi bi-currency-exchange"></i>&nbsp;Price</button>
                    </div>
                </div>

                <div class="col-4">
                    <div class="Search-Box">
                        <input placeholder="What are you looking for ?">
                        <button><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-4">
            <div class="row">
                <div class="col-3 Side-Bar d-none d-md-block">
                    <div class="Filter-Options">
                        <div class="Filter-Ads mt-4">
                            <p>Sort results by</p>

                            <select>
                                <option value="value1">Newest on top</option>
                                <option value="value2">Oldest on top</option>
                                <option value="value3">High to low</option>
                                <option value="value4">Low to high</option>
                            </select>
                        </div>

                        <div class="Filter-Ads mt-5 mb-4">
                            <p>Filter Ads by</p>

                            <div class="Filtering">
                                <div class="Filter-Check">
                                    <input type="checkbox">
                                    <label>Urgent</label>
                                </div>

                                <div class="Filter-Check">
                                    <input type="checkbox">
                                    <label>Featured</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="Company-Ad sticky-top">
                        <div class="Align-AD">
                            <img src="../../../../assets/Item-Box/Side-AD1.jpg">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-9 d-flex justify-content-center">
                    <div class="Ad-List">
                       <app-items-list></app-items-list>
                       <div class="Navigrations mt-4">
                            <div class="Navigration-Buttons">
                                <button class="Active">1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                                <span> . . . </span>
                                <button><i class="bi bi-arrow-right-short"></i></button>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

