.Profile{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Edit-Account{
    width: 100%;
    display: flex;
    justify-content: end;
}

.Edit-Account button {
    font-size: 13px;
    width:60px;
    display: flex;
    justify-content: center;
    border-style:none;
    background-color: rgba(240, 248, 255, 0);
}

.Profile-Box{
    width:90%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Profile-Pic{
    display: flex;
    justify-content: center;
}

.Profile-Pic img{
    height:100px;
    width:100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 100%;
}

.Profile-Info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.Profile-Info h5{
    font-size: 16px;
    height: 14px;
    color: rgb(0, 4, 65);
}

.Profile-Info h6{
    font-size: 14px;
    height: 10px;
    color: rgb(109, 109, 109);
}

.Profile-Info p{
    font-size: 12px;
    height: 7px;
    color: rgb(143, 143, 143);
}

.User-Profile-Details hr{
    margin-top: 5px;
    color: rgb(134, 134, 134);
}

.Profile-Handdle{
    display: flex;
    flex-direction: row;
    width:80%;
    justify-content: space-between;
}

.Handdle-Button{
    width:48%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 71, 0.288);
    border-radius: 4px;
    align-items: center;
    padding: 4px;
    color: rgb(95, 98, 122);
}

.Handdle-Button label{
    font-size: 13px;
    margin-top: -5px;
}

.Log-Out{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 7px;
}

.Log-Out button{
    width: 80%;
    border-style: none;
    background-color: rgb(5, 0, 82);
    color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}