<div class="Profile">
    <div class="Profile-Box">
        <div class="Edit-Account">
            <button><i class="bi bi-pencil-fill"></i>&nbsp;Edit</button>
        </div>

        <div class="User-Profile-Details">
            <div class="Profile-Pic">
                <img src="../../../../assets/Profile/Profile-Pic.jpg">
            </div>

            <div class="Profile-Info">
                <h5>Mahinda Rajapaksha</h5>
                <h6>mahinda.r@gmail.com</h6>
                <p>0779876543</p>
            </div>

            <hr>
        </div>

        <div class="Profile-Handdle">
            <div class="Handdle-Button" type="button" routerLink="/my-ads">
                <i class="bi bi-send-check"></i>
                <label>Posted Ads</label>
            </div>

            <div class="Handdle-Button" type="button" routerLink="/my-cart">
                <i class="bi bi-cart4"></i>
                <label>Your Cart</label>
            </div>
        </div>

        <div class="Log-Out">
            <button>Sign out</button>
        </div>
    </div>
</div>