<form class="Sign-up-Form pe-sm-3 pe-lg-0">
    <div class="d-flex justify-content-center">
        <div class="Form-Fields col-10 col-sm-11 col-lg-9">
            <div class="Sign-up_Header">
                <h4>Sign up</h4>
                <p>The best way to predict the future is to create it.</p>
            </div>

            <div class="Sign-up_Fields">
                <div class="row">
                    <div class="col-12 col-md-6 ">
                        <div class="d-flex justify-content-center">
                            <div class="Part">
                                <div class="Single-Field">
                                    <label>Name</label>
                                    <input placeholder="Your name" >
                                </div>

                                <div class="Single-Field">
                                    <label>Email</label>
                                    <input placeholder="example@gmail.com"  >
                                </div>

                                <div class="Single-Field">
                                    <label>Phone number</label>
                                    <input placeholder="07X9876543">
                                </div>

                                <div class="Single-Field">
                                    <label>Whatsapp number</label>
                                    <input placeholder="07X1234567">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="d-flex justify-content-center">
                            <div class="Part">
                                <div class="Single-Field">
                                    <label>District</label>
                                    <input placeholder="Your district">
                                </div>

                                <div class="Single-Field">
                                    <label>Town</label>
                                    <input placeholder="Your town">
                                </div>

                                <div class="Single-Field">
                                    <label>Password</label>
                                    <input placeholder="Your password">
                                </div>

                                <div class="Single-Field">
                                    <label>Confirm password</label>
                                    <input placeholder="Confirm password">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Sign-up_Handdle col-12 mt-3">
                <div class="row">
                    <div class="col-12 col-md-6 ">
                        <div class="d-flex justify-content-center">
                            <div class="Part">
                                <div class="Sign-Condition">
                                    <input type="checkbox">
                                    <p>I agree to all the <a href="#">terms & Conditions</a></p>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-12 col-md-6 ">
                        <div class="d-flex justify-content-center">
                            <div class="Part">
                                <div class="Single-Field">
                                    <button>Sign up</button>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
